#navCont{
    display: flex;
    align-items: center;
    height: 8dvh;
    width: 96dvw;
    margin: 0;
    padding: 0dvh 2dvw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


#navUl{
    display: flex;
    width: 80dvw;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0dvh;
}

.NavLinks{
    font-size: 2.5dvh;
    margin-top: 0dvh;
    padding: 1dvh 4dvh;
    cursor: pointer; 
    border-radius: 1dvh;
    transition: .3s;
}

#navIcon{
    cursor: pointer;
    margin-right: 2dvh;
    font-size: 2.5dvh;
    margin-top: 0dvh;
    padding: 1dvh 4dvh;
    cursor: pointer; 
    transition: .3s;
}

#navIcon.active{
    color: #000;
}