
/* .default#html{

} */



#navCont{
    /* background-color: #BCD3F2; */
    background-color: #9AC2C9;
    box-shadow: 0dvh .2dvh .3dvh #718a8f;
}

.NavLinks{
    /* color: #8e4bdf; */
    color: #636d63;
    border-left: .3dvh solid #a793c0;
}
.NavLinks:hover{
    color: #000;
    background-color: #8AA1B1 ;
}
.NavLinks.active{
    color: #fff;
    background-color: #637480;
}


#navIcon{
    color: #636d63;
    border-radius: 2dvh;
    /* background-color: #1cded1 ; */
}
#navIcon:hover{
    color: #000;
}
#navIcon.active{
    color: #000;
}

.PostsPage{
    background-color: #181D27;
}
body{
    background-color: #5BC0BE ;
}

#PostsHeader{
    color: #EFE9F4;

}
#postx{
    background-color: #5BC0BE;
    border: .3dvh solid #ffffff;
}

.postImg{
    border: .3dvh solid #ffffff;
}

.innTextColor{
    color: #EFE9F4;
}