
/* .default#html{

} */



#navCont{
    /* background-color: #BCD3F2; */
    background-color: #0c5f7f;
    box-shadow: 0dvh .2dvh .3dvh #718a8f;
}

.NavLinks{
    /* color: #8e4bdf; */
    color: #d6e4d6;
}
.NavLinks:hover{
    color: #000;
    background-color: #8AA1B1 ;
}
.NavLinks.active {
    color: #fff;
    background-color: #637480;
}



#navIcon{
    color: #b7c9b7;
    border-radius: 2dvh;
    /* background-color: #1cded1 ; */
}
#navIcon:hover{
    color: #000;
}
#navIcon.active{
    color: #000;
}


/*     ____________________       */


.PostsPage{
    background-color: #05151c;
}
.newPostPage{
    background-color: #05151c;
}
.pageById{
    background-color: #05151c;
}
body{
    background-color: #5BC0BE ;
}


/* _______________________________________ */



#PostsHeader{
    color: #EFE9F4;
}
.loadPara{
    color: #EFE9F4;
}
#postx{
    background-color: #5BC0BE;
    border: .3dvh solid #ffffff;
}

#newPostCont{
    background-color: #5BC0BE;
    border: .3dvh solid #ffffff;

}

.postImg{
    border: .3dvh solid #ffffff;
}

.innTextColor{
    color: #EFE9F4;
}